body{
    margin: 0%;
    padding: 0%;
    color: darkorchid;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: thistle;
}
span{
    color: blue;
}
.wrapper{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    background-color: aquamarine;
    border-radius: 5px;
    box-shadow: rgb( 30, 40, 90) 0px 20px 30px -10px;
}
input{
    outline: none;
    border: none;
    padding: 5px;
}
button{
    color: aliceblue;
    padding: 10px;
    border: 2px solid rgb(236, 233, 227);
    background: black;
    display: block;
    margin-top: 10%;
    cursor: pointer;
}